* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

body {
  color: #222;
}
img {
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;
  align-items: center;
  background-color: rgb(85, 87, 209, 0.9);
  padding: 20px;
  border-radius: 10px;
}
header a {
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
  font-size: 1.8rem;
}
header nav {
  display: flex;
  gap: 10px;
}

div.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 720px) {
  div.post {
    grid-template-columns: 1fr;
  }
}
div.post div.texts h2 {
  margin: 0;

  font-size: 1.5rem;
}
div.post div.texts a {
  text-decoration: none;
  color: inherit;
}

div.post p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
div.post p.info a.author {
  color: #333;
  text-decoration: none;
}
div.post p.summary {
  margin: 10px;
  line-height: 1.2rem;
}

/* login page CSS */

form.login,
form.register {
  max-width: 400px;
  margin: 0 auto;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
}
button {
  width: 100%;
  cursor: pointer;
  display: block;
  background-color: #555;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}

form.login h1,
form.register h1 {
  text-align: center;
}

div.post-page div.image {
  max-height: 300px;
  overflow: hidden;
  display: flex;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post-page a {
  color: #333;
  text-decoration: underline;
}
div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: #aaa;
}

div.post-page .author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
  font-weight: bold;
}
div.post-page div.content {
  line-height: 1.6rem;
}
div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn {
  display: inline-block;
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
}
